.hotpatchManage{
  .page-table{
    margin:0 auto;
    tbody{
      tr{
        td{
          height:50px;
          padding:0;
        }
      }
    }
    .el-table{
      border-radius:5px;
      &.pade-table{
        .el-table__expanded-cell{
          padding:0 0 0 50px;
        }
      }
    }
    .el-table__row{
      font-size: 12px;
      color: rgba(0,0,0,.65);
    }
    .el-dialog__title{
      font-size:14px;
    }
    .el-dialog__body{
      border-top:1px solid #dcdfe6;
      border-bottom:1px solid #dcdfe6;

      .el-form-item{
        font-size:12px;

      }
    }
  }
}